<header>
	<nav class="be-blue white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-xs">
				<h1 id="logo" class="no-margin a"><%= link_to "RoutingSPA", root_path %></h1>
			</li>
			<li class="col-xs">
				<%= link_to "Routes", routes_path %>
			</li>
			<li class="col-xs">
				<%= link_to "Drivers", drivers_path %>
			</li>
			<li class="col-xs">
				<%= link_to "Vehicles", vehicles_path %>
			</li>
		</ul>
	</nav>
</header>